@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  background: #000000;
  color: #ffffff;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.container--pall {
  padding: 1rem 4rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-top: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight {
  border-bottom: 4px solid #8400ff;
}

.navbar {
  background: #131313;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__logo {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar__logo .img-logo {
  width: 100%;
  height: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar__item {
  height: 100%;
  cursor: pointer;
}

.navbar__links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #9518fc;
}

.highlight {
  border-bottom: 4px solid #8400ff;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__logo {
    margin-left: 25px;
  }
  .navbar__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    /* hides or push ups menu temporarily */
    top: -1000px;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99;
    min-height: 40vh;
    font-size: 1.6rem;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    width: 100%;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
  .navbar #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  .navbar #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.hero {
  min-height: 100vh;
}

.hero__container {
  padding: 10rem 50px;
}

.hero__left {
  width: 60%;
}

.hero__left-primary-heading {
  font-size: 5rem;
  margin-bottom: 20px;
}

.hero__left-secondary-heading {
  font-size: 3rem;
  font-weight: 300;
  color: #9518fc;
  margin-bottom: 20px;
}

.hero__left-tertiary-heading {
  font-weight: 300;
  line-height: 1.6;
}

.hero__left-cta-btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  outline: none;
  /* this will appear when you hover the btn */
}

.hero__left-cta-btn--link {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.hero__left-cta-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 4px;
}

.hero__left-cta-btn:hover {
  color: #ffffff;
}

.hero__left-cta-btn:hover:after {
  width: 100%;
}

.hero__left-name {
  background: #ee0979;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(to right, #ff6a00, #ee0979);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__right {
  width: 400px;
  height: 400px;
}

.hero__right-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .hero__container {
    padding: 10rem 50px;
  }
  .hero__left {
    width: 40%;
  }
  .hero__left-primary-heading {
    font-size: 4rem;
  }
  .hero__left-secondary-heading {
    font-size: 2rem;
  }
  .hero__left-cta-btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    outline: none;
  }
  .hero__right {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 70vh;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .hero__left {
    width: 100%;
  }
  .hero__left-primary-heading {
    font-size: 4rem;
  }
  .hero__left-secondary-heading {
    font-size: 2rem;
  }
  .hero__left-cta-btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    outline: none;
  }
  .hero__right {
    display: none;
  }
}

.projects {
  min-height: 100vh;
  background: #131313;
}

.projects__title {
  text-align: center;
  padding: 80px 0;
  background-color: #ff8177;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 50px;
}

.projects__filter-btns {
  text-align: center;
}

.projects__filter-btn {
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border: 5px solid #ffffff;
  padding: 20px 30px;
  margin-right: 40px;
  cursor: pointer;
  margin-bottom: 80px;
}

.projects__card-1 {
  margin-bottom: 80px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card-1-img {
  width: 800px;
  height: 500px;
  position: relative;
  margin-right: 80px;
  overflow: hidden !important;
}

.projects__card-1-img .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.projects__card-1-img:hover .overlay {
  opacity: 1;
}

.projects__card-1-info {
  width: 40%;
}

.projects__card-1-info--title {
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff087b), to(#ed1a52));
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 2.5rem;
}

.projects__card-1-info--tech h4 {
  color: #9518fc;
  margin-bottom: 20px;
}

.projects__card-1-info--tech p {
  font-weight: 300;
  margin-bottom: 5px;
}

.projects__card-1-info--btn {
  display: inline-block;
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border: 5px solid #ffffff;
  padding: 20px 40px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.projects__card-1-info--btn:not(:last-child) {
  margin-right: 40px;
}

.projects__card-2 {
  margin-bottom: 80px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card-2-img {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-left: 80px;
}

.projects__card-2-img .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.projects__card-2-img:hover .overlay {
  opacity: 1;
}

.projects__card-2-info {
  width: 40%;
}

.projects__card-2-info--title {
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff087b), to(#ed1a52));
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 2.5rem;
}

.projects__card-2-info--tech h4 {
  color: #9518fc;
  margin-bottom: 20px;
}

.projects__card-2-info--tech p {
  font-weight: 300;
  margin-bottom: 5px;
}

.projects__card-2-info--btn {
  display: inline-block;
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border: 5px solid #ffffff;
  padding: 20px 40px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.projects__card-2-info--btn:not(:last-child) {
  margin-right: 40px;
}

.projects__card-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.projects__card-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#modal {
  background: #000000;
  background: #303030f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#modal .modal-content {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  padding: 3em 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  width: 850px;
  height: 100vh;
}

#modal .modal-content .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 8rem;
}

#modal .modal-content .project .left-info {
  width: 350px;
  height: 250px;
}

#modal .modal-content .project .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#modal .modal-content .project .right-info {
  width: 350px;
  height: 250px;
}

#modal .modal-content .project .right-info h2 {
  margin-bottom: 1em;
}

#modal .modal-content .project .right-info .technologies {
  margin-bottom: 2.4em;
}

#modal .modal-content .project .right-info .technologies h4 {
  font-weight: 600;
}

#modal .modal-content .project .right-info .technologies p {
  font-weight: 300;
}

#modal .modal-content .project .right-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modal .modal-content .project .right-info ul li {
  margin-right: 1em;
  list-style-type: none;
}

#modal .modal-content .project .right-info ul li a {
  color: #fff;
  text-decoration: none;
  border: 0.5px solid #ffffff;
  border-radius: 3px;
  padding: .5em 1em;
}

#modal .modal-content .mockup {
  width: 800px;
  height: 500px;
}

#modal .modal-content .mockup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#modal .prev-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 101;
}

#modal .next-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 78%;
}

#modal .exit-btn {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 1%;
}

.modals {
  display: none;
}

.modals .modal .project-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modals .modal .project-1 .left-info {
  width: 350px;
  height: 250px;
}

.modals .modal .project-1 .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modals .modal .project-1 .right-info {
  width: 350px;
  height: 250px;
}

.modals .modal .project-1 .right-info h2 {
  margin-bottom: 1em;
}

.modals .modal .project-1 .right-info .technologies {
  margin-bottom: 2.4em;
}

.modals .modal .project-1 .right-info .technologies h4 {
  font-weight: 600;
}

.modals .modal .project-1 .right-info .technologies p {
  font-weight: 300;
}

.modals .modal .project-1 .right-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modals .modal .project-1 .right-info ul li {
  margin-right: 1em;
  list-style-type: none;
}

.modals .modal .project-1 .right-info ul li a {
  color: #fff;
  text-decoration: none;
  border: 0.5px solid #ffffff;
  border-radius: 3px;
  padding: .5em 1em;
}

.modals .modal .mockup {
  width: 800px;
  height: 500px;
}

.modals .modal .mockup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.animateShow {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}

.btnFadeIn {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}

.btnFadeOut {
  -webkit-animation: fadeOut 0.3s ease-in-out;
          animation: fadeOut 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .projects__card-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__card-1-info {
    width: 100%;
  }
  .projects__card-1-img {
    width: 600px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
  .projects__card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__card-2-info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects__card-2-img {
    width: 600px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .projects__card-1 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__card-1-info {
    width: 100%;
  }
  .projects__card-1-img {
    width: 100%;
    height: 273px;
  }
  .projects__card-1-img .overlay img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .projects__card-1-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__card-1-img {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
  .projects__card-2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__card-2-info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects__card-2-img {
    width: 100%;
    height: 273px;
  }
  .projects__card-2-img .overlay img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .projects__card-2-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__card-2-img {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
}

.about {
  min-height: 80vh;
  background: #131313;
}

.about__container {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  text-align: center;
  padding: 80px 0;
  background: #11998e;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#11998e));
  background: linear-gradient(to right, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem;
}

.about__img {
  width: 450px;
  height: 450px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.about__info {
  width: 50%;
}

.about__info .accordion {
  width: 100%;
  height: 50px;
  text-align: left;
  background: #131313;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.about__info .accordion-content {
  /* initially removes the padding of content  */
  margin: 20px 0;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 2rem;
  /* initially removes the height of content  */
  max-height: 0;
  overflow: hidden;
  /* Animation when opening accordion */
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.about__info .accordion-content p:last-child {
  margin-bottom: 30px;
}

.about__info .accordion-content p {
  line-height: 1.6;
  font-weight: 300;
}

.about .resume-link {
  color: #9518fc;
  font-weight: 700;
}

@media screen and (max-width: 1160px) {
  .about {
    min-height: 80vh;
    background: #131313;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__img {
    width: 300px;
    height: 300px;
    margin-bottom: 80px;
  }
  .about__img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media screen and (max-width: 768px) {
  .about {
    min-height: 80vh;
    background: #131313;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about__img {
    width: 100%;
    height: 400px;
    margin-bottom: 80px;
  }
  .about__img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .about__info {
    width: 100%;
  }
}

.contact {
  min-height: 60vh;
  background: #131313;
}

.contact__title {
  text-align: center;
  padding: 80px 0;
  font-size: 2.5rem;
  background: #ee0979;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(to right, #ff6a00, #ee0979);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.contact__form {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 40px;
}

.contact__form-main {
  width: 600px;
  max-width: 600px;
}

.contact__form-main input {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  border: none;
  outline: none;
  padding: 20px;
  border: 2px solid #ffffff;
  background: #131313;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10px;
}

.contact__form-main label {
  width: 100%;
}

.contact__form-main textarea {
  width: 100%;
  resize: none;
  display: block;
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 20px;
  border: 2px solid #ffffff;
  background: #131313;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10px;
}

.contact__form button {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding: 20px;
  border: 2px solid #ffffff;
  background: #131313;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .contact {
    min-height: 80vh;
  }
}

@media screen and (max-width: 720px) {
  .contact {
    min-height: 70vh;
    background: #131313;
    width: 100%;
    padding: 0 80px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form-main {
    width: 100%;
  }
  .contact__form-main input {
    width: 100%;
  }
  .contact__form-main label {
    width: 100%;
  }
  .contact__form-main textarea {
    width: 100%;
  }
  .contact__form button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    min-height: 60vh;
    padding-bottom: 40px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px;
}

footer .left-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left-contact a .logo-contact {
  width: 50px;
  height: 50px;
}

footer .left-contact a .logo-contact img {
  width: 100%;
  height: 100%;
}

footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .socials ul li {
  margin-left: 20px;
}

.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  color: #fff;
  display: none;
  z-index: 103;
  border-radius: 5px;
}

.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 610px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .left-contact {
    margin-bottom: 20px;
  }
  footer .copyright {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */