.about {
    min-height: 80vh;
    background: $blackGray;


    &__container {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__title {
        text-align: center;
        padding: 80px 0;
        @include gradient-5;
    }

    &__img {
        width: 450px;
        height: 450px;
        filter: grayscale(100%);
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: grayscale(0);
        }
    }
    &__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    &__info {
        width: 50%;

        .accordion {
            width: 100%;
            height: 50px;
            text-align: left;
            background: $blackGray;
            color: $white;
            outline: none;
            border: none;
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
        }
        .accordion-content {
            /* initially removes the padding of content  */
            margin: 20px 0;

            border-bottom: 2px solid $white;
            margin-bottom: 2rem;
              /* initially removes the height of content  */
            max-height: 0;
            overflow: hidden;

            /* Animation when opening accordion */
            transition: max-height 0.2s ease-in-out;

            p:last-child{
                margin-bottom: 30px;
            }

            p {
                line-height: 1.6;
                font-weight: 300;
            }
        }   
    }

    .resume-link {
        color: $purple;
    }



    
}










//MEDIA QUERY
@media screen and (max-width: 1160px) {
    .about {
        min-height: 80vh;
        background: $blackGray;
    
    
        &__container {
            flex-direction: column;
        }
        
        &__img {
            width: 300px;
            height: 300px;
            margin-bottom: 80px;
            &:hover {
                filter: grayscale(0);
            }
        }
    
        
    }
}

@media screen and (max-width: 768px) {
    .about {
        min-height: 80vh;
        background: $blackGray;
    
    
        &__container {
            flex-direction: column;
            width: 100%;
        }
        
        &__img {
            width: 100%;
            height: 400px;
            margin-bottom: 80px;
            &:hover {
                filter: grayscale(0);
            }
        }

        &__info {
            width: 100%;
        }
    
        
    }
}

// @media screen and (max-width: 768px){
    
// }

// @media screen and (max-width: 480px){
    
// }