.contact {
    min-height: 60vh;
    background: $blackGray;
    //padding-bottom: 40px;

    &__title {
        text-align: center;
        padding: 80px 0;
        font-size: 2.5rem;
        @include gradient-1;
    }

    &__form {

        display: grid;
        place-items: center;

        // display: flex;
        // justify-content: center;
        padding-bottom: 40px;

        &-main {
            width: 600px;
            max-width: 600px;
        }

        &-main input {
            width: 100%;
            display: block;
            margin-bottom: 40px; 
            border: none;
            outline: none;
            padding: 20px;
            border: 2px solid $white;
            background: $blackGray;
            color: $white;
            font-size: 1rem;
            margin-top: 10px;
        }
        &-main label {
            width: 100%;
            
        }

    
        &-main textarea {
            width: 100%;
            resize: none;
            display: block;
            margin-bottom: 20px; 
            border: none;
            outline: none;
            padding: 20px;
            border: 2px solid $white;
            background: $blackGray;
            color: $white;
            font-size: 1rem;
            margin-top: 10px;
        }

        button {
            width: 100%;
            display: block; 
            border: none;
            outline: none;
            padding: 20px;
            border: 2px solid $white;
            background: $blackGray;
            color: $white;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}








//MEDIA QUERY
@media screen and (max-width: 960px) {
    .contact {
        min-height: 80vh;
    }
}

@media screen and (max-width: 720px){
    .contact {
        min-height: 70vh;
        background: $blackGray;
        width: 100%;
        padding: 0 80px;
    
        &__form {
    

            width: 100%;

            &-main {
                width: 100%;
            }
    
            &-main input {
                width: 100%;

            }
            &-main label {
                width: 100%;
                
            }
    
        
            &-main textarea {
                width: 100%;

            }
    
            button {
                width: 100%;

            }
        }
    }
}

@media screen and (max-width: 480px){
    .contact {
        min-height: 60vh;
        padding-bottom: 40px;
    }
}